@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Backgrounds do not repeat by default (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  background-repeat: no-repeat;
  /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Breaks words to prevent overflow in all browsers (opinionated).
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Remove the grey highlight on links in iOS (opinionated).
 * 6. Prevent adjustments of font size after orientation changes in iOS.
 */
:where(:root) {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  overflow-wrap: break-word;
  /* 3 */
  -moz-tab-size: 4;
  /* 4 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 4 */
  -webkit-tap-highlight-color: transparent;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 6 */
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
:where(body) {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 */
:where(hr) {
  color: inherit;
  /* 1 */
  height: 0;
  /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */
:where(nav li)::before {
  content: "​";
  float: left;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */
:where(pre) {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  overflow: auto;
  /* 3 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Safari.
 */
:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
:where(iframe) {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
:where(svg:not([fill])) {
  fill: currentColor;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color in Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-collapse: collapse;
  /* 1 */
  border-color: currentColor;
  /* 2 */
  text-indent: 0;
  /* 3 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
:where(button, input, select) {
  margin: 0;
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */
:where(fieldset) {
  border: 1px solid #a0a0a0;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 3. Change the resize direction in all browsers (opinionated).
 */
:where(textarea) {
  margin: 0;
  /* 1 */
  resize: vertical;
  /* 3 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where([type="search" i]) {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
 * Add the correct display in Safari.
 */
:where(details > summary:first-of-type) {
  display: list-item;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
:where([aria-busy="true" i]) {
  cursor: progress;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* 全ページで使用 */
/* archive・archibe-searchで使用 */
*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  font-size: 1.6rem;
  font-family: "M+ 1m";
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #707070;
}

ul, ol {
  list-style-type: none;
}

p {
  margin: 0;
}

.l-header {
  grid-area: header;
}

.l-sidebar {
  width: 100%;
  height: auto;
  grid-area: side;
}

.l-main {
  grid-area: main;
}

.l-footer {
  grid-area: footer;
}

.p-search {
  margin: 0 auto;
  display: flex;
  /* 検索フォームとボタンを横並びに */
  min-width: 80%;
}
@media screen and (min-width: 1025px) {
  .p-search {
    min-width: 50%;
    margin: 0;
    padding-right: 31px;
  }
}

.p-search-form {
  position: relative;
  margin-right: 12px;
  width: 100%;
  height: 46px;
}
.p-search-form::before {
  /* 虫眼鏡 */
  content: "";
  width: 24px;
  height: 24px;
  background: url(../../../img/i-con.svg);
  position: absolute;
  top: 11px;
  left: 12px;
}

.p-header {
  position: relative;
  /* menuボタンを右上に配置するため */
  background-color: #FFF7EF;
  /* ロゴと検索フォームを縦並びに */
  display: flex;
  flex-direction: column;
  height: 217px;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .p-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.p-main {
  /* 見出し〜main下部までの左右の余白 */
  padding: 0 20px;
}
@media screen and (min-width: 600px) {
  .p-main {
    padding: 0 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-main {
    padding: 0 100px;
  }
}
.p-main--list {
  /* 数字付きリスト・数字なしリストの間の余白調節 */
  margin-bottom: 60px;
}
.p-main--list ol {
  padding-left: 23px;
}
@media screen and (min-width: 600px) {
  .p-main--list ol {
    padding-left: 118px;
  }
}
.p-main--list ol:nth-of-type(even) {
  padding-left: 40px;
}
@media screen and (min-width: 600px) {
  .p-main--list ol:nth-of-type(even) {
    padding-left: 134px;
  }
}
.p-main--code {
  background-color: #F5F5F5;
  margin: 30px 0;
}

@media screen and (min-width: 1025px) {
  .p-sidebar {
    position: relative;
    padding-left: 46px;
    padding-top: 82px;
    background-color: #F2EDE9;
  }
}

.p-footer {
  padding-bottom: 30px;
  /* フッターリスト・コピーライトを縦並びに */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9D8670;
}
.p-footer ul {
  padding: 0;
  margin: 40px 0 34px 0;
}

.p-nav {
  /* ナビ */
  position: fixed;
  z-index: 999;
  top: 0;
  right: -100%;
  transition: all 0.9s ease-in-out;
  padding: 212px 0 1417px 0;
}
.p-nav.open {
  right: 0;
  background-color: #F2EDE9;
  height: 100vh;
  min-width: 90%;
  overflow: auto;
}
@media screen and (min-width: 600px) {
  .p-nav.open {
    min-width: 40%;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav {
    position: static;
    transition: none;
    padding-top: 86px;
  }
}

.p-quote {
  background-color: #F5F5F5;
}

.p-gallery {
  margin: 30px 0;
}
@media screen and (min-width: 600px) {
  .p-gallery {
    margin: 60px 0;
  }
}

.p-item {
  /* 写真と説明文のところ */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}
.p-item:nth-child(odd) {
  /* c-contentの親divから見て、奇数番目のハンバーガーと文章の位置が入れ替わる */
  flex-direction: row-reverse;
  padding-top: 117px;
}
@media screen and (min-width: 1025px) {
  .p-item:nth-child(odd) {
    padding-top: 60px;
  }
}

/* タブレット・PCで横並びにしたときの設定 */
@media screen and (min-width: 600px) {
  .p-photo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.p-table {
  width: 100%;
  margin-bottom: 29px;
}

.p-area {
  /* Take Out・Eat Inのボックス全体 */
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .p-area {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .p-area {
    margin-top: 120px;
  }
}

.p-group--box {
  /* Take Out・テキストの箱2つ合わせてたもの */
  margin-top: 297px;
  margin-bottom: 9px;
}

.c-button {
  /* 共通ボタンスタイル */
  cursor: pointer;
  border: 1px solid #707070;
  font-weight: bold;
}

.c-button--search {
  height: 46px;
  width: 30%;
  border-radius: 10px;
  background-color: #F2EDE9;
  color: #707070;
  font-size: 1.6rem;
}

.c-button--main {
  width: 100%;
  border-radius: 20px;
  padding: 30px 0;
  background: linear-gradient(#F2EDE9, #DED8D3);
}
@media screen and (min-width: 600px) {
  .c-button--main {
    width: 60%;
  }
}
@media screen and (min-width: 1025px) {
  .c-button--main {
    width: 50%;
  }
}

/* menuボタン */
.c-button--menu {
  /* menuボタンの共通スタイル */
  color: #707070;
  font-family: "Roboto";
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.c-button--headermenu {
  margin: 0;
  position: absolute;
  top: 14px;
  right: 16px;
  visibility: none;
  font-size: 2rem;
}
.c-button--headermenu.open {
  visibility: hidden;
}
@media screen and (min-width: 600px) {
  .c-button--headermenu {
    top: 18px;
    right: 26px;
  }
}
@media screen and (min-width: 1025px) {
  .c-button--headermenu {
    display: none;
  }
}

.c-button--sidemenu {
  display: none;
  font-size: 3.4rem;
}
@media screen and (min-width: 1025px) {
  .c-button--sidemenu {
    display: block;
  }
}

/* ×ボタン */
.c-button--close {
  position: relative;
  display: inline-block;
}

.p-close {
  /* ボタンの位置や大きさ */
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: none;
  margin-right: 17px;
  background-color: transparent;
  /* ボタンの背景色を見えなくする */
  visibility: hidden;
  /* デフォルトではボタンを見えなくする */
}
.p-close.open {
  visibility: visible;
}
.p-close__line {
  /* 三本線・真ん中の線 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 3px;
  background-color: #707070;
}
.p-close__line::before, .p-close__line::after {
  /* 三本線・上下の線共通スタイル */
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #707070;
  transition: all 0.3s ease-in;
}
.p-close__line::before {
  /* 上線の位置 */
  top: -10px;
}
.p-close__line::after {
  /* 下線の位置 */
  top: 10px;
}
.p-close__line.open {
  background-color: transparent;
  /* openクラスがついたとき、真ん中の線を透明に */
}
.p-close__line.open::before {
  top: 0;
  transform: rotate(45deg);
}
.p-close__line.open::after {
  top: 0;
  transform: rotate(-45deg);
}

.c-background-image {
  /* 共通スタイル */
  background-position: center;
  background-size: cover;
  min-height: 642px;
  position: relative;
  /* Take Out・Eat Inの文字を左上に固定させるため */
}
@media screen and (min-width: 600px) {
  .c-background-image {
    width: 47%;
  }
}
@media screen and (min-width: 1025px) {
  .c-background-image {
    width: 46%;
  }
}

.c-background-image--take-out {
  background-image: url(../../../img/take-out.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.c-background-image--eat-in {
  background-image: url(../../../img/eat-in.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .c-background-image--eat-in {
    margin-top: 0;
  }
}

/* グリッドレイアウト試す場所 */
@media screen and (min-width: 1025px) {
  .c-grid {
    display: grid;
    grid-template-rows: 217px 1fr 150px;
    grid-template-columns: 1fr 367px;
    grid-template-areas: "header side  " "main   side  " "footer footer";
  }
}

.c-header__logo {
  color: #707070;
  font-size: 4rem;
  font-family: "Roboto";
}
@media screen and (min-width: 1025px) {
  .c-header__logo {
    padding: 0;
    margin-left: 31px;
  }
}

.c-input-box {
  border-radius: 10px;
  border: 1px solid #707070;
  height: 46px;
  width: 100%;
  padding-left: 40px;
  /* 文字の入力位置を虫眼鏡マークの後ろからにする */
}

.c-text--nav {
  margin-bottom: 20px;
}

.c-text--footer {
  color: #FFFFFF;
}

.c-text--copyright {
  color: #FFFFFF;
  font-size: 1.4rem;
}

.c-text--quote {
  padding: 30px 16px 30px 20px;
  background: url(../../../img/quote-left-solid.svg) no-repeat;
  background-size: 25px;
}

.c-text--source {
  padding: 0 0 30px 20px;
}
.c-text--source a {
  text-decoration: underline;
  color: #4A6C9B;
}

.c-text--item {
  text-indent: 1rem;
  width: 55%;
  color: #3C2A10;
}

.c-text--main-bottom {
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 336px;
}

.c-line {
  /* Eat InとTake Outの下にある線 */
  border-bottom: 4px solid #FFFFFF;
  position: absolute;
  top: 86px;
  left: 13.5px;
  width: 34px;
  height: 4px;
}

.c-cell {
  border: 1px solid #707070;
  padding: 28px 0;
}
.c-cell--heading {
  font-weight: 100;
  width: 30%;
}
@media screen and (min-width: 1025px) {
  .c-cell--heading {
    width: 50%;
    text-align: left;
    padding-left: 30px;
  }
}
.c-cell--content {
  width: 70%;
  padding-left: 30px;
}

.c-photo {
  width: 80%;
  text-align: center;
  margin: 30px auto 20px auto;
}
@media screen and (min-width: 600px) {
  .c-photo {
    margin: 61px auto 241px auto;
  }
}
@media screen and (min-width: 1025px) {
  .c-photo {
    margin-bottom: 60px;
  }
}
.c-photo--item {
  width: 42%;
}
.c-photo--photo-list:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .c-photo--photo-list {
    width: 49%;
  }
}
@media screen and (min-width: 1025px) {
  .c-photo--photo-list {
    width: 32%;
  }
}

.c-box {
  /* Take Out・テキストの箱1つ */
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 10px;
  padding: 19px 14px 23px 10px;
}
.c-box:first-child {
  margin-bottom: 9px;
}
.c-box--title {
  font-size: 2.2rem;
  padding-bottom: 19px;
  margin: 0;
}

.c-title--nav {
  padding-left: 46px;
  font-size: 2.4rem;
  font-weight: bold;
}
@media screen and (min-width: 1025px) {
  .c-title--nav {
    padding-left: 0;
  }
}

.c-title--mainvisual {
  color: #FFFFFF;
  margin: 0;
  font-size: 3.6rem;
}

.c-title--front-page {
  padding: 120px 0 120px 25px;
}
@media screen and (min-width: 600px) {
  .c-title--front-page {
    padding-left: 86px;
  }
}
@media screen and (min-width: 1025px) {
  .c-title--front-page {
    font-size: 4rem;
  }
}

.c-title--page {
  padding: 90px 0;
}
@media screen and (min-width: 600px) {
  .c-title--page {
    padding: 208px 0 208px 86px;
  }
}

.c-title--take-out {
  color: #FFFFFF;
  font-size: 4.1rem;
  font-family: "Roboto";
  position: absolute;
  top: 11px;
  left: 10px;
  margin: 0;
}

.c-border {
  border-right: 2px solid #FFFFFF;
  padding-right: 20px;
}

.c-list--sidebar {
  padding-left: 66px;
  color: #707070;
  font-size: 2rem;
}
@media screen and (min-width: 1025px) {
  .c-list--sidebar {
    padding-left: 20px;
    margin-bottom: 49px;
  }
}

.c-list--footer {
  /* 横並びにするため */
  display: flex;
  font-size: 2rem;
}

.c-list_type_decimal {
  list-style-type: decimal;
}

.c-list_type_none {
  /* mainのリスト・数字なし部分 */
}
.c-list_type_none ul {
  padding-left: 0;
}
@media screen and (min-width: 600px) {
  .c-list_type_none ul {
    padding-left: 90px;
  }
}
@media screen and (min-width: 1025px) {
  .c-list_type_none ul {
    padding-left: 130px;
  }
}
.c-list_type_none ul:nth-of-type(even) {
  padding-left: 15px;
}
@media screen and (min-width: 600px) {
  .c-list_type_none ul:nth-of-type(even) {
    padding-left: 108px;
  }
}
@media screen and (min-width: 1025px) {
  .c-list_type_none ul:nth-of-type(even) {
    padding-left: 148px;
  }
}

.c-mainvisual--front-page {
  background-image: url(../../../img/main-visual--front-page.jpg);
  background-position: center;
  background-size: cover;
  min-height: 285px;
}

.c-mainvisual--page {
  background-image: url(../../../img//main-visual--page.jpg);
  background-position: center;
  min-height: 224px;
  background-size: cover;
  text-align: center;
  /* 文字を真ん中に寄せるため */
}
@media screen and (min-width: 600px) {
  .c-mainvisual--page {
    min-height: 500px;
    text-align: left;
    /* 文字を左寄せにするため */
  }
}

/* 透明背景 */
.c-transparent-background--nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  width: 0;
  height: 0;
  opacity: 0;
}
.c-transparent-background--nav.open {
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

.u-margin {
  margin-left: 20px;
  /* フッター余白調整に使用 */
}
/*# sourceMappingURL=style.css.map */