/* Error: Undefined mixin.
 *   ,
 * 6 | /     @include tab { /* タブレット幅まで *∕
 * 7 | |         width: 203px;
 * 8 | |         margin: auto;
 * 9 | \     }
 *   '
 *   scss/Object/Project/_header-logo.scss 6:5  @forward
 *   scss/style.scss 11:1                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 6 \2502  \250c      @include tab { /* \30bf \30d6 \30ec \30c3 \30c8 \5e45 \307e \3067  */\a 7 \2502  \2502          width: 203px;\a 8 \2502  \2502          margin: auto;\a 9 \2502  \2514      }\a   \2575 \a   scss/Object/Project/_header-logo.scss 6:5  @forward\a   scss/style.scss 11:1                       root stylesheet";
}
