@use "../../Foundation/mixin" as m;

.c-background-image { /* 共通スタイル */
    background-position: center;
    background-size: cover;
    min-height: 642px;
    position: relative;/* Take Out・Eat Inの文字を左上に固定させるため */
    

    @include m.tab {
        width: 47%;
    }
    @include m.pc {
        width: 46%;
    }
}

.c-background-image--take-out {
    background-image: url(../../../img/take-out.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.c-background-image--eat-in {
    background-image: url(../../../img/eat-in.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;

    @include m.tab {
        margin-top: 0;
    }
}

.c-background-image--map {
    background-image: url(../../../img/map.jpg);
    background-size: cover;
    background-position: center;
}