@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-background-image { /* 共通スタイル */
    background-position: center;
    background-size: cover;
    min-height: 642px;
    position: relative;/* Take Out・Eat Inの文字を左上に固定させるため */
    

    @include m.tab {
        width: 47%;
    }
    @include m.pc {
        width: 46%;
    }
}

.c-background-image--take-out {
    background-image: url(../../../img/take-out.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.c-background-image--eat-in {
    background-image: url(../../../img/eat-in.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;

    @include m.tab {
        margin-top: 0;
    }
}

.c-background-image--map {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
// .c-background-image--map { /* 地図の画像 */
//     background-image: url(../../../img/map.jpg);
//     background-size: cover;
//     background-position: center;
//     // position: relative;
//     margin-top: 49px;
//     // padding: 40px 40px 51px 40px;
//     z-index: 10;

//     @include m.tab {
//     //     padding: 40px 29px 42px 42px;
//         display: flex;
//     }

//     @include m.pc {
//         margin-bottom: 0;
//     }
// }
