@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-button { /* 共通ボタンスタイル */
    cursor: pointer;
    border: 1px solid v.$color--gray-dark;
    font-weight: v.$font-weight--bold;
}
.c-button--search {
    height: 46px;
    width: 30%;
    border-radius: 10px;
    background-color: v.$color--beige;
    color: v.$color--gray-dark;
    font-size: v.$font-size--16;
}
.c-button--main {
    width: 100%;
    border-radius: 20px;
    padding:  30px 0;
    background: linear-gradient(v.$color--beige, v.$color--beige-dark);

    @include m.tab {
        width: 60%;
    }
    @include m.pc {
        width: 50%;
    }
}

/* menuボタン */
.c-button--menu { /* menuボタンの共通スタイル */
    color: v.$color--gray-dark;
    font-family: v.$font-family--roboto;
    font-weight: v.$font-weight--bold;
    background: none;
    border: none;
    cursor: pointer;
}
.c-button--headermenu {
    margin: 0;
    position: absolute;
    top: 14px;
    right: 16px;
    visibility: none;
    font-size: v.$font-size--20;

    &.open {
        visibility: hidden;
    }

    @include m.tab {
        top: 18px;
        right: 26px;
    }
    @include m.pc {
        display: none;
    }   
}
.c-button--sidemenu {
    display: none;
    font-size: v.$font-size--34;

    @include m.pc {
        display: block;
    }
}
/* ×ボタン */
.c-button--close {
    display: inline-block;
    cursor: pointer;
}

.c-button--detail {
    background-color: v.$color--white;
    color: v.$color--gray-dark;
    cursor: pointer;
    max-width: 50%;
    padding: 10px 0;
    border-radius: 40px;
    font-size: v.$font-size--16;
    font-weight: v.$font-weight--bold;

    @include m.pc {
        height: 76px;
        
    }
}