@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-button--search {
    background-color: v.$color-beige;
    border: 1px solid v.$color-gray-dark;
    padding: 12px 0;
    height: 46px;
    width: 30%;
    border-radius: 10px;
}
/* menuボタン */
.c-button--headermenu {
    margin: 0;
    position: absolute;
    top: 14px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;

    @include m.tab {
        top: 18px;
        right: 26px;
    }
    @include m.pc {
        display: none;
    }   
}
.c-button--sidemenu {
    background: none;
    border: none;
    cursor: pointer;
    display: none;

    @include m.pc {
        display: block;
    }
}
/* ×ボタン */
.c-button--close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 23px;
    cursor: pointer;
    display: none;
    /* buttonタグのスタイル無くすため */
    border: none;
    background: none;

    span{
        position: absolute;
        z-index: 9999;
        right: 10px;
        height: 3px;
        background-color: v.$color-gray-dark;
        width: 30px;
    }

    &.open {
        display: block;

        span:nth-of-type(1) {
            top: 10px;
            transform: translateY(20px)rotate(40deg);
        }
        span:nth-of-type(2) {
            top: 50px;
            transform: translateY(-20px)rotate(-40deg);
        }
    }
}