@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-button--search {
    background-color: v.$color-beige;
    border: 1px solid v.$color-gray-dark;
    padding: 12px 0;
    width: 30%;
    border-radius: 10px;

    @include m.tab {
        width: 138px;
    }
}