@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-button { /* 共通ボタンスタイル */
    cursor: pointer;
}
.c-button--search {
    border: 1px solid v.$color--gray-dark;
    padding: 12px 0;
    height: 46px;
    width: 30%;
    border-radius: 10px;
    background-color: v.$color--beige;
    color: v.$color--gray-dark;
}
/* menuボタン */
.c-button--headermenu {
    margin: 0;
    position: absolute;
    top: 14px;
    right: 16px;
    background: none;
    border: none;
    visibility: none;
    color: v.$color--gray-dark;
    font-size: 2rem;
    font-family: "Roboto";

    &.open {
        visibility: hidden;
    }

    @include m.tab {
        top: 18px;
        right: 26px;
    }
    @include m.pc {
        display: none;
    }   
}
.c-button--sidemenu {
    background: none;
    border: none;
    display: none;
    color: v.$color--gray-dark;
    font-size: 3.4rem;
    font-family: "Roboto";

    @include m.pc {
        display: block;
    }
}
/* ×ボタン */
.c-button--close {
    position: relative;
    display: inline-block;
}
.p-close { /* ボタンの位置や大きさ */
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;
    margin-right: 17px;
    background-color: transparent; /* ボタンの背景色を見えなくする */
    visibility: hidden; /* デフォルトではボタンを見えなくする */

    &.open {
        visibility: visible;
    }

    &__line { /* 三本線・真ん中の線 */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 30px;
        height: 3px;
        background-color: v.$color--gray-dark;
    
        &::before,&::after { /* 三本線・上下の線共通スタイル */ 
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-color: v.$color--gray-dark;
            transition: all .3s ease-in;
        }
        &::before { /* 上線の位置 */
            top: -10px;
        }
        &::after { /* 下線の位置 */
            top: 10px;
        }
    
        &.open {
            background-color: transparent;/* openクラスがついたとき、真ん中の線を透明に */
        }
        &.open::before {
            top: 0;
            transform: rotate(45deg);
        }
        &.open::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}