@use "../../Foundation/variable" as v;

.c-button--search {
    background-color: v.$color-beige;
    border: 1px solid v.$color-gray-dark;
    padding: 12px 0;
    width: 78px;
    border-radius: 10px;
}