.c-font-size--14 {
    font-size: 1.4rem;
}

.c-font-size--20 {
    font-size: 2rem;
}

.c-font-size--24 {
    font-size: 2.4rem;
}

.c-font-size--34 {
    font-size: 3.4rem;
}

.c-font-size--40 {
    font-size: 4rem;
}