/* グリッドレイアウト試す場所 */
@use "../../Foundation/mixin" as m;

.c-grid {
        
           display: grid;
           grid-template-rows: 217px 1fr 150px;
           grid-template-columns: 1fr 367px;
           grid-template-areas: 
                "header side  "
                "main   side  "
                "footer footer";
           
                .l-header {
                        grid-area: header;
                }     
                .l-main {
                        grid-area: main;
                } 
                .l-sidebar {
                        grid-area: side;
                } 
                .l-footer {
                        grid-area: footer;
                } 
        
}

.c-grid-2 {
                display: grid;
                grid-template-rows: 217px 1fr 150px;
                grid-template-columns: 1fr 160px;
                grid-template-areas: 
                        "header side  "
                        "main   side  "
                        "footer footer";
                
                .header {
                        grid-area: header;
                }
                .main {
                        grid-area: main;
                }
                .sidebar {
                        grid-area: side;
                }
                .footer {
                        grid-area: footer;
                }
                
        
}