@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-header__logo {
    color: v.$color--gray-dark;
    font-size: v.$font-size--40;
    font-family: v.$font-family--roboto;

    @include m.pc {
        padding: 0;
        margin-left: 31px;
    }
}