@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-header__logo {
    width: 203px;
    margin: auto;
    padding-top: 40px;
    color: v.$color--gray-dark;
    font-size: 4rem;
    font-family: v.$font-family--roboto;

    @include m.pc {
        padding: 0;
        margin-left: 31px;
    }
}