@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-input-box {
    border-radius: 10px;
    border: 1px solid v.$color--gray-dark;
    height: 46px;
    width: 100%;
    padding-left: 40px;/* 文字の入力位置を虫眼鏡マークの後ろからにする */
}