@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-line {/* Eat InとTake Outの下にある線 */
    border-bottom: 4px solid v.$color--white;
    position: absolute;
    top: 86px;
    left: 13.5px;
    width: 34px;
    height: 4px;
}
.c-line--map {
    border-bottom: 2px solid v.$color--white;
    position: absolute;
    top: 102px;
    width: 75px;
    height: 2px;

    @include m.pc {
        top: 189px;
    }
}