@use "../../Foundation/mixin" as m;

.c-list--sidebar {
    padding-left: 66px;

    @include m.pc {
        padding-left: 20px;
        margin-bottom: 49px;

    }
}

.c-list--footer { /* 横並びにするため */
    display: flex;
}