@use "../../Foundation/mixin" as m;

.c-mainvisual {
    background-position: center;
    display: flex;
    align-items: center;

    &--front-page {
        background-image: url(../img/main-visual--front-page.jpg);
        background-size: cover;
        min-height: 285px;
    }
    
    &--archive {
        background-image: url(../img/archive.jpg);
        min-height: 283px;
        position: relative;
        z-index: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include m.tab {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
    }
    
    &--page {
        background-image: url(../img/main-visual--page.jpg);
        min-height: 224px;
        background-size: cover;
        justify-content: center;
    
        @include m.tab {
            min-height: 500px;
            justify-content: left;
        }
    }
    &--single {
        background-image: url(../img/main-visual--single.jpg);
        min-height: 224px;
    
        @include m.tab {
            min-height: 500px;
        }
    }
}
