@use "../../Foundation/mixin" as m;

.c-mainvisual {
    background-position: center;

    &--front-page {
        background-image: url(../img/main-visual--front-page.jpg);
        background-size: cover;
        min-height: 285px;
    }
    
    &--archive {
        background-image: url(../img/archive.jpg);
        min-height: 283px;
        position: relative;
        z-index: 0;
    }
    
    &--page {
        background-image: url(../img/main-visual--page.jpg);
        min-height: 224px;
        background-size: cover;
        text-align: center; /* 文字を真ん中に寄せるため */
    
        @include m.tab {
            min-height: 500px;
            text-align: left;/* 文字を左寄せにするため */
        }
    }
    &--single {
        background-image: url(../img/main-visual--single.jpg);
        min-height: 224px;
        
    
        @include m.tab {
            min-height: 500px;
        }
        @include m.pc {
            background-size: cover;
        }
    }
}
