@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-menu--header {
    margin: 0;
    color: v.$color-gray-dark;
    position: absolute;
    top: 14px;
    right: 16px;
    z-index: 9999;

    span {
        position: absolute;
        left: 14px;
        height: 3px;
        background-color: v.$color-gray-dark;
        
        &:nth-of-type(1) {
            top: 18px;
            left: 18px;
            transform: translateY(6px) rotate(-45deg);
        }
    }


    @include m.tab {
        top: 18px;
        right: 26px;
    }
    @include m.pc {
        display: none;
    }
    
}
.c-menu--sidebar {
    display: none;

    @include m.pc {
        display: block;
    }
}