@use "../../Foundation/mixin" as m;

.c-photo {
    width: 80%;
    text-align: center;
    margin: 30px auto 20px auto;

    @include m.tab {
        margin: 61px auto 241px auto;
    }
    @include m.pc {
        margin-bottom: 60px;
    }

    &--photo-list {

        &:not(:last-child) {
            margin-bottom: 20px;
        }
        @include m.tab {
            width: 49%;
        }
        @include m.pc {
            width: 32%;
        }
    }
}

