@use "../../Foundation/variable" as v;

.c-text--nav {
    margin-bottom: 20px;
}
.c-text--footer {
    color: v.$color--white;
}

.c-text--copyright {
    color: v.$color--white;
    font-size: v.$font-size--14;
}