@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-text--quote {
    padding: 30px 16px 30px 20px;
    background: url(../img/quote-left-solid.svg) no-repeat;
    background-size: 25px;
}
.c-text--source {
    padding: 0 0 30px 20px;

    a {
        text-decoration: underline;
        color: v.$color--blue;
    }    
}
.c-text--mainvisual {
    color: v.$color--white;
    font-weight: v.$font-weight--bold;

    @include m.tab {
        padding: 10px 0 0 20px;
    }
}

