@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-text--footer {
    color: v.$color--white;
}
.c-text--copyright {
    color: v.$color--white;
    font-size: v.$font-size--14;
}
.c-text--quote {
    padding: 30px 16px 30px 20px;
    background: url(../../../img/quote-left-solid.svg) no-repeat;
    background-size: 25px;
}
.c-text--source {
    padding: 0 0 30px 20px;

    a {
        text-decoration: underline;
        color: v.$color--blue;
    }    
}
.c-text--item {
    text-indent: 1rem;
    width: 55%;
    color: v.$color--brown;
}
.c-text--main-bottom {
    font-weight: v.$font-weight--bold;
    margin-top: 30px;
    padding-bottom: 336px;
}
.c-text--map {
    color: v.$color--white;
    font-size: v.$font-size--14;
    line-height: 2;
    font-weight: v.$font-weight--bold;
}
