@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-title--nav {
    padding-left: 46px;
    font-size: v.$font-size--24;

    @include m.pc {
        padding-left: 0;
    }
}