@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-title--nav {
    padding-left: 46px;
    font-size: v.$font-size--24;
    font-weight: v.$font-weight--bold;

    @include m.pc {
        padding-left: 0;
    }
}
.c-title--main {
    color: v.$color--white;
    font-size: v.$font-size--36;
    margin: 0;
}