@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-title--mainvisual {
    color: v.$color--white;
    margin: 0;
    font-size: v.$font-size--36;

    &--archive {
        font-family: v.$font-family--roboto;
        padding-left: 37px;

        @include m.tab {
            font-size: v.$font-size--60;
            padding-left: 86px;
        }
    }
}
.c-title--front-page {
    padding-left: 25px;

    @include m.tab {
        padding-left: 86px;
    }
    @include m.pc {
        font-size: v.$font-size--40;
    }
}
.c-title--page {
    @include m.tab {
        padding-left: 86px;
    }
}
.c-title--single {
    padding-left: 26px;

    @include m.tab {
        font-size: v.$font-size--60;
        padding-left: 86px;
    }
    
}

.c-title--take-out {
    color: v.$color--white;
    font-size: v.$font-size--41;
    font-family: v.$font-family--roboto;
    position: absolute;
    top: 11px;
    left: 10px;
    margin: 0;
}
.c-title--heading {
    margin: 30px 0;
    font-size: v.$font-size--28;
}
