@use "../../Foundation/mixin" as m;

.p-access {
    background: url(../../../img/map.jpg) no-repeat center / cover;
    position: relative; //見出し下のborderのため
    margin-top: 49px;
    z-index: 0;

    @include m.tab {
        margin-top: 40px;
    }
    @include m.pc {
        margin-top: 134px;
    }
}
.c-map {
    padding: 40px;

    @include m.pc {
        width: 55%;
        padding: 83px 0 76px 112px;
    }
}