@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-access {
    background: url(../../../img/map.jpg) no-repeat center / cover;
    position: relative; //見出し下のborderのため
    margin-top: 49px;
    z-index: 0;

    @include m.tab {
        margin-top: 40px;
    }
    @include m.pc {
        margin-top: 134px;
    }

    &__group {
        padding: 40px;
    
        @include m.pc {
            width: 55%;
            padding: 83px 0 76px 112px;
        }
    }
    &__heading {
        color: v.$color--white;
        font-size: v.$font-size--30;
        padding-bottom: 40px;
        margin: 0;
    
        @include m.pc {
            padding-bottom: 119px;
        }
    }
    &__text {
        color: v.$color--white;
        font-size: v.$font-size--14;
        line-height: 2;
        font-weight: v.$font-weight--bold;
    }
}