@use "../../Foundation/mixin" as m;
 
.c-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:nth-child(odd) {/* c-contentの親divから見て、奇数番目のハンバーガーと文章の位置が入れ替わる */
        flex-direction: row-reverse;
    }
}
