@use "../../Foundation/mixin" as m;
 
.c-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:nth-child(3n) {
        flex-direction: row-reverse;
    }
}
.c-item--content {
    width: 49%;
}
