@use "../../Foundation/mixin" as m;

.p-gallerys {
    @include m.tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.c-item {
    @include m.tab {
        width: 49%;
    }
}

.p-gallery {
    margin-bottom: 20px;
}