@use "../../Foundation/mixin" as m;

.wp-block-gallery {
    // margin: 30px 0;
    margin: 0;

    @include m.tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .wp-block-image {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;

        @include m.tab {
            margin: 0;
            margin-bottom: 20px;
            width: 49%;
        }

       &:nth-child(10) {
           @include m.tab {
                margin-bottom: 100px;
           }    
       }

    } 
}