@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.wp-block-media-text {/* 写真と説明文のところ */
    display: flex;
    justify-content: space-between;
    padding-top: 60px;

    &:nth-child(odd) {/* c-contentの親divから見て、奇数番目のハンバーガーと文章の位置が入れ替わる */
        flex-direction: row-reverse;
        padding-top: 117px;

        @include m.pc {
            padding-top: 60px;
        }
    }
    .wp-block-media-text__media {
        width: 42%;
    }
    .wp-block-media-text__content {
        text-indent: 1rem;
        width: 55%;
        color: v.$color--brown;
        padding: 0;
    }
}