@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-menu {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    text-align: center;

    @include m.tab {
        flex-direction: row;
    }
    
    &:first-child {
        @include m.tab {
            margin-top: 37px;
        }
        @include m.pc {
            margin-top: 70px;
        }
    }
    &__photo {
        @include m.tab {
            width: 50%;
        }

        img {
            @include m.tab {
                object-fit: cover;
                height: 100%;
            }
        }

    }
    &__text-box {
        background-color: v.$cheeseburger;
        color: v.$color--white;
        padding-left: 17px;
        padding-top: 32px;
        padding-bottom: 40px;

        @include m.tab {
            width: 50%;
            padding-bottom: 0;
        }
        @include m.pc {
            padding: 53px 0 0 63px;
        }
    }
    &__title {
        font-size: v.$font-size--20;
        margin: 0;
        text-align: left;

        @include m.pc {
            font-size: v.$font-size--36;
        }
    }
    &__heading {
        margin: 24px 0 10px 0;
        text-align: left;

        @include m.pc {
            font-size: v.$font-size--24;
            margin-top: 47px;
        }

    }
    &__text {
        margin-bottom: 40px;
        margin-right: 73px;
        overflow: hidden;
        text-align: left;
        line-height: 1.4;
        height: calc(1.4 * 1.6rem * 5);


        @include m.pc {
            height: calc(1.4 * 1.6rem * 3);
            margin-bottom: 60px;
        }
    }
}
