@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-nav { /* ナビ */
    position: fixed;
    z-index: 999;
    top: 0;
    right: -100%;
    transition: all .5s;

    &.open {
        right: 0;
        background-color: v.$color-beige;
    }
    @include m.pc {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        width: 60%;
        height: auto;
    }
}