@use "../../Foundation/mixin" as m;

.p-nav { /* ナビ */
    margin-left: 100%;

    &.open {
        margin-left: 0;
    }
    @include m.pc {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        width: 60%;
        height: auto;
    }
}