@use "../../Foundation/mixin" as m;

.p-nav { /* ナビ */

    &.open {
        display: block;/* クリックしたら表示される */  
    }
    
    @include m.pc {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        width: 60%;
        height: auto;
    }
}