.p-footer {
    padding-bottom: 30px;
    /* フッターリスト・コピーライトを縦並びに */
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        padding: 0;
        margin: 40px 0 34px 0;
    }
}