@use "../../Foundation/variable" as v;

.p-footer {
    padding-bottom: 30px;
    /* フッターリスト・コピーライトを縦並びに */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: v.$backgraound-color--footer;

    ul {
        padding: 0;
        margin: 40px 0 34px 0;
        display: flex; //ショップ情報・ヒストリーを横並びにするため
        font-size: v.$font-size--20;

        li {
            color: v.$color--white;

            &:not(:first-child) {
                margin-left: 20px; //ヒストリーの左の余白調整
            }
        }

    }
    &__copyright {
        color: v.$color--white;
        font-size: v.$font-size--14;
    }
    #menu-item-139 {
        border-right: 2px solid v.$color--white;
        padding-right: 20px;
    }
}