@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-header {
    position: relative;  /* menuボタンを右上に配置するため */
    background-color: v.$background-color--header;
    display: flex;
    flex-direction: column;

    @include m.pc {
        flex-direction: row;
        justify-content: space-between;
    }
}