@use "../../Foundation/mixin" as m;

.p-main { /* 見出し〜main下部までの左右の余白 */
    padding: 0 20px;

    @include m.tab {
        padding: 0 60px;
    }
    @include m.pc {
        padding: 0 100px;
    }

    &__list--numbers {
        list-style-type: decimal;
        padding: 0;
    }
    &--list { /* 数字付きリスト・数字なしリストの間の余白調節 */
        margin-bottom: 60px;
    }
}