@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-main { /* 見出し〜main下部までの左右の余白 */
    padding: 0 20px;

    @include m.tab {
        padding: 0 60px;
    }
    @include m.pc {
        padding: 0 100px;
    }

    h2 {
        margin: 30px 0;
        font-size: v.$font-size--28;
    }

    &__code {
        background-color: v.$color--gray;
        margin: 30px 0;
    }
    &__text--page {
        font-weight: v.$font-weight--bold;
        margin-top: 30px;
        padding-bottom: 336px;
    }
}