@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-main { /* 見出し〜main下部までの左右の余白 */
    padding: 0 20px;

    @include m.tab {
        padding: 0 60px;
    }
    @include m.pc {
        padding: 0 100px;
    }

    
    &--list { /* 数字付きリスト・数字なしリストの間の余白調節 */
        margin-bottom: 60px;

        ol {
            padding-left: 23px;

            @include m.tab {
                padding-left: 118px;
            }

            &:nth-of-type(even) {
                padding-left: 40px;

                @include m.tab {
                    padding-left: 134px;
                }
            }
        }
    }

    &--code {
        background-color: v.$color--gray;
        margin: 30px 0;
    }
}

/* front-page.html あとでクラス名変える */
.p-flex-box1 {
    @include m.tab {
        display: flex;
        justify-content: space-between;
    }
}

.c-background {
    background-color: v.$color--white;
    margin: 0 10px;

    &--title {
        font-size: v.$font-size--22;
        padding: 19px 0 19px 10px;
    }
    &--text {
        padding: 0 14px 23px 10px;
    }

}