@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-pagination {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
    margin: 60px 0 31px 0;

    @include m.tab {
        align-items: center;
        justify-content: center;
        margin-left: 122px;
        margin-right: 113px;
    }

    &__button--front {
        padding-left: 28px;

        @include m.tab {
            display: none;
        }

        &::before {
            content: "";
            background: url(../../../img/before.svg);
            width: 20px;
            height: 20px;
            display: inline-block;
            background-repeat: no-repeat;
            position: absolute;
            top: 3px;
            left: 0;
        }
    }

    &__button--next {
        padding-right: 28px;

        @include m.tab {
            display: none;
        }

        &::after {
            content: "";
            background: url(../../../img/next.svg);
            width: 20px;
            height: 20px;
            display: inline-block;
            background-repeat: no-repeat;
            position: absolute;
            top: 3px;
            right: 0;
        }
    }
   

    &__page-number {
        display: none;

        @include m.tab {
            display: block;
            font-family: v.$font-family--roboto;
            color: v.$color--gray-dark;
        }
    }

    &__number {
        display: none;

        @include m.tab {
            display: block;
            font-family: v.$font-family--roboto;
            border: 1px solid v.$color--gray-dark;
            padding: 7px 13px;
        }        
    }
    &__mark {
        display: none;

        @include m.tab {
            display: block;   
        }
        
        &--front {
            @include m.tab {
                margin-right: 17px;
            }
        }
        &--next {
            @include m.tab {
                margin-left: 17px;
            }
        }
    }
}