@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.wp-pagenavi {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
    margin: 60px 0 31px 0;

    @include m.tab {
        align-items: center;
        justify-content: center;
    }
   
    .pages {
        display: none;

        @include m.tab {
            display: block;
            font-family: v.$font-family--roboto;
            color: v.$color--gray-dark;
            margin-right: 19px;
        }
    }

    .page {
        display: none;

        @include m.tab {
            display: block;
            font-family: v.$font-family--roboto;
            border: 1px solid v.$color--gray-dark;
            padding: 7px 13px;
            margin-left: 15px;
        }
        &:hover {
            background-color: v.$cheeseburger;
            color: v.$color--white;
        }
            
    }
    .current {
        display: none;

        @include m.tab {
            display: block;
            font-family: v.$font-family--roboto;
            border: 1px solid v.$color--gray-dark;
            padding: 7px 13px;
            margin-left: 15px;
            background-color: v.$cheeseburger;
            color: v.$color--white;
        }
        &:hover {
            background-color: v.$cheeseburger;
            color: v.$color--white;
        }
    }

    .previouspostslink::after { //前へ
        content: "前へ";
        position: absolute;
        left: 20px;
    }
        


    &__button--next { //次へ
        @include m.tab {
            display: none;
        }

        &::after { //次への右にあるマーク(SP版だけ表示される)
            content: "";
            background: url(../img/next.svg);
            width: 20px;
            height: 20px;
            display: inline-block;
            background-repeat: no-repeat;
            position: absolute;
            top: 3px;
            right: 0;
        }
    }

    .nextpostslink {
        @include m.tab {
            display: block;
            min-width: 20px;
            min-height: 20px;
            margin-left: 15px;
        }

        &::before {
            content: "次へ";
            position: absolute;
            right: 20px;
        }
    }
    &__mark { //tab・PC版で表示されるマーク
        display: none;

        @include m.tab {
            display: block;   
        }
        &--tab {
            @include m.tab {
                display: block;
                min-width: 20px;
                min-height: 20px;
            }
        }
        
        &--next {
            @include m.tab {
                margin-left: 17px;
            }
        }
    }
}