@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.wp-pagenavi {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
    margin: 60px 0 31px 0;

    @include m.tab {
        align-items: center;
        justify-content: center;
        margin: 105px 0 30px 0;
    }

    @include m.pc {
        margin: 150px 0 64px 0;
    }
   
    .pages {
        display: none;

        @include m.tab {
            display: block;
            font-family: v.$font-family--roboto;
            color: v.$color--gray-dark;
            margin-right: 19px;
        }
    }

    .page {
        visibility: hidden;

        @include m.tab {
            visibility: visible;
            font-family: v.$font-family--roboto;
            border: 1px solid v.$color--gray-dark;
            padding: 7px 13px;
            margin-left: 15px;
        }
        // &:hover {
        //     background-color: v.$cheeseburger;
        //     color: v.$color--white;
        // }
            
    }
    .current {
        visibility: hidden;

        @include m.tab {
            visibility: visible;
            font-family: v.$font-family--roboto;
            border: 1px solid v.$color--gray-dark;
            padding: 7px 13px;
            margin-left: 15px;
            background-color: v.$cheeseburger;
            color: v.$color--white;
        }
        &:hover {
            background-color: v.$cheeseburger;
            color: v.$color--white;
        }
    }
    .first {
        display: none;
    }
    .last {
        display: none;
    }
    .previouspostslink::after { //前へ
        content: "前へ";
        position: absolute;
        left: 20px;

        @include m.tab {
            display: none;
        }
    }
    .nextpostslink {

        @include m.tab {
            margin-left: 15px;
            position: inherit;
        }

        &::before {
            content: "次へ";
            position: absolute;
            right: 16px;
            width: 35px;

            @include m.tab {
                display: none;
            }
        }
    }
}