@use "../../Foundation/mixin" as m;

.p-photos {
    @include m.tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        @include m.tab {
            width: 49%;
        }
        @include m.pc {
            width: 32%;
        }
    }
}