@use "../../Foundation/variable" as v;

.p-quote {
    background-color: v.$color--gray;

    &__text {
        padding: 30px 16px 30px 20px;
        background: url(../img/quote-left-solid.svg) no-repeat;
        background-size: 25px;
    }
    &__source {
        padding: 0 0 30px 20px;
    
        a {
            text-decoration: underline;
            color: v.$color--blue;
        }    
    }
}