@use "../../Foundation/mixin" as m;

.p-search {
    margin: 0 auto;
    display: flex; /* 検索フォームとボタンを横並びに */
    min-width: 80%;

    @include m.pc {
        min-width: 50%;
        margin: 0;
        padding-right: 31px;
    }
}
