@use "../../Foundation/mixin" as m;

.p-search-form {
    position: relative;
    margin-right: 12px;
    width: 100%;
    height: 46px;

    &::before { /* 虫眼鏡 */
        content: "";
        width: 24px;
        height: 24px;
        background: url(../img/i-con.svg);
        position: absolute;
        top: 11px;
        left: 12px;
        
    }
}