@use "../../Foundation/mixin" as m;

.p-search {
    margin: 0 auto;
    display: flex; /* 検索フォームとボタンを横並びに */
    min-width: 80%;

    @include m.tab {
        min-width: 554px;
    }

    @include m.pc {
        margin: 0;
    }
}
