@use "../../Foundation/mixin" as m;

.p-search-form {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    width: 230px;

    @include m.tab {
        width: 396px;
        margin-right: 14px;
    }

    &::before { /* 虫眼鏡 */
        content: "";
        width: 24px;
        height: 24px;
        background: url(../../../img/multiple-pages/i-con.svg);
        position: absolute;
        top: 11px;
        left: 12px;
        
    }
}