@use "../../Foundation/mixin" as m;

.p-search {
    min-width: 326px; /* 326pxより小さくならないように */
    max-width: 553px;
    padding: 38px 0 40px 0;
    margin: auto;
    display: flex; /* 検索フォームとボタンを横並びに */

    @include m.tab {
        min-width: 554px;
    }
}
/*
.p-search {
    margin: 0 auto;
    margin-top: 38px;
    padding-bottom: 40px;
    min-width: 326px;

    @include m.tab {
        width: 554px;
    }
}
*/