.p-search__box {
    position: relative;
    display: inline-block;
    width: 230px;
    margin-right: 12px;

    &::before { /* 虫眼鏡 */
        content: "";
        width: 24px;
        height: 24px;
        background: url(../../../img/multiple-pages/i-con.svg);
        position: absolute;
        top: 11px;
        left: 12px;
        
    }
}