@use "../Foundation/mixin" as m;

.l-header {
    position: relative;
}

.header {
    background-color: aquamarine;
   
}
.main {
    background-color: yellowgreen;
    
}
.sidebar {
    background-color: gold;
    
}
.footer {
    background-color: palegoldenrod;
    
}